@import "tailwindcss";

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

.markdown-preview pre code {
  @apply !bg-transparent !text-gray-100 !p-0 !rounded-none;
}